body {
    margin: 0px;
    background: #EFF2F6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#masthead-container {
    top: 0;
    width: 100%;
    z-index: 2020;
    transform: translateY(0);
    transition: transform .3s ease;
    background: #fff;
}

#masthead {
    height: 56px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu {
    width: 40px;
    margin-right: 8px;
    box-sizing: border-box;
    background: transparent;
    color: #000;
    border: none;
    font-size: 24px;
    vertical-align: inherit;
    cursor: pointer;
}

#app-logo {
    flex: none;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    vertical-align: top;
}

#app-logo img {
    height: 20px;
}

#masthead-container #masthead #end a {
    font-size: 24px;
    color: #000;
    text-decoration: none;
    margin-right: 10px;
}

#pagelet-container {
    display: flex;
    column-gap: 30px;
}

#side-nav-container {
    background: #fff;
    color: #000;
    width: 240px;
    -webkit-backdrop-filter: blur(30px) saturate(2);
            backdrop-filter: blur(30px) saturate(2);
    transition: 1s cubic-bezier(.36,-0.01,0,.77);
}

#side-nav-container.closed {
    width: 68px;   
}

#side-nav-items {
    height: 100vh;
    overflow-y: hidden;
}

#side-nav-items:hover {
    overflow-y: auto;
}

#side-nav-items ul {
    margin: 0;
    padding: 12px;
    margin-bottom: 55px;
}

#side-nav-items ul li {
    list-style: none;
}

#side-nav-items ul li a {
    text-decoration: none;
    color: #000;
    padding: 12px;
    display: flex;
    border-radius: 5px;
    font-size: 14px;
}

#side-nav-items ul li a i {
    margin-right: 23px;
    font-size: 20px;
    vertical-align: text-bottom;
}

#side-nav-items ul li a:hover {
    color: #000;
    background-color: #e6e6e6;
}

#content-container {
    padding: 12px;
    margin-bottom: 55px;
    flex: 1;
    padding-top: 23px;
}

#content-container h1 {
    font-size: 1.6em;
    margin: 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#side-nav-items::-webkit-scrollbar {
    width: 8px;
}

#side-nav-items::-webkit-scrollbar-track {
    background : #fff;
    border-radius: 50px;
}

#side-nav-items::-webkit-scrollbar-thumb {
    background : #3d3d3d;
    border-radius: 50px;
}